.explore {
  background-color: $background;

  @include flex-column-center;

  width: 100%;

  h2 {
    @include fontRoboto700(1.5rem, $black);
    text-align: center;
    padding: 39px 58px 20px 42px;
  }

  p {
    @include fontRoboto300(1.12rem, $grey);
    text-align: center;
  }

  .btn-radient {
    margin: 27px 0 57px 0;
  }
}
