// -----------------------------------------------------------------------------
// Ce fichier contient tous le scss liés au pied de page du site/de l'application.
// -----------------------------------------------------------------------------

footer {
  background-color: $background-footer;

  @include flex-column;
  justify-content: flex-start;

  padding: 22px 25px;

  gap: 16px;

  @include tablette {
    @include flex-align-center;
  }

  @include desktop {
    @include flex-row-reverse-end;

    height: 114px;
    gap: 50px;
  }

  h1 {
    @include fontShrikhand400(1.12rem, $white);

    @include desktop {
      padding: 30px 25px 15px 0;
    }
  }

  .footer-liste {
    @include tablette {
      @include flex-column-center;
      justify-content: center;
      gap: 5px;
    }

    @include desktop {
      @include flex-row;

      padding: 30px 25px 15px 180px;
      gap: 15px;
    }

    li {
      padding-bottom: 7px;

      @include desktop {
        padding-bottom: 0;
      }

      &:nth-child(2) {
        @include desktop {
          padding-right: 30px;
        }
        @include desktop-large {
          padding-right: 50px;
        }
      }

      img {
        padding-right: 10px;
      }
    }
  }
}

.icone {
  @include fontRoboto500(1rem, $white);
}

.no-icone {
  @include fontRoboto400(1rem, $white);
}
