#restaurant {
  background: $background;

  width: 100%;

  .restaurant-title {
    @include fontRoboto700(1.5rem, $black);

    padding: 48px 80px 26px 20px;
  }

  .restaurant-list {
    @include flex-column-center;

    gap: 18px;

    padding-bottom: 66px;
  }
}
