#restaurant {
  background: $background;

  width: 100%;

  .restaurant-title {
    @include fontRoboto700(1.5rem, $black);

    padding: 48px 80px 26px 20px;

    @include desktop-large {
      padding: 30px 180px 25px 195px;
    }
  }

  .restaurant-list {
    @include flex-column-center;

    gap: 18px;

    padding-bottom: 66px;

    @include desktop {
      @include flex-row;
      justify-content: center;
      flex-wrap: wrap;
      gap: 60px;
    }

    @include desktop-large {
      @include flex-row;
      justify-content: center;
      flex-wrap: wrap;
      gap: 60px;
    }
  }
}

//.card:nth-last-child(-n+2) .btn-news {
//  display: none;
//}
