.tutorial {
  @include flex-column;
  width: 100%;


  .tuto-title {
    @include fontRoboto700(1.5rem, $black);
    width: 100%;

    padding: 48px 80px 26px 20px;

    @include desktop-large {
      
      padding: 50px 180px 25px 195px;
    }
  }

  .tuto-liste {
    @include flex-column-center;
    width: 100%;

    gap: 25px;

    margin-bottom: 68px;

    @include desktop-large {
      width: 100%;
      @include flex-row-center;
      justify-content: center;
    }
  }
}
