header {
  color: #fe0404;
}
nav {
  color: #ca8c8c;
}
img {
  color: #f0940a;
}
body {
  color: #eff306;
}
main {
  color: #000000;
}
div {
  color: #d909fb;
}
h1 {
  color: #734704;
}
h2 {
  color: #3bc362;
}
section {
  color: #ff79da;
}
p {
  color: #27dada;
}
button {
  color: #0e95f6;
}
span {
  color: #64C6C0;
}
article{
  color: #877F7F;
}
h3{
  color: #E1BB82;
}
h4{
  color: #CEAAFC;
}
footer{
  color: #6DFF96;
}
h5{
  color: #FAA6FC;
}
ul {
  color: #D86565;
}
li {
  color: #D2F306;
}
i {
  color: #A8D8FB;
}
h6 {
  color: #F7FC0D;
}