// -----------------------------------------------------------------------------
// Ce fichier contient tous le SCSS liés aux animations des pages restaurants.
// -----------------------------------------------------------------------------



// Animation apparition titre du menu //
.container-menu {
  h2 {
    opacity: 0;
    transform: translateX(-100%);
    animation: slide-title 1.5s ease forwards;

    @include slide-title;
  }
}


// Animation apparition des cards du menu //
.cards-menu {
  opacity: 0;
  transform: translateY(20px);
  animation: slide-cards-menu 0.5s ease forwards;

  @include slide-cards-menu;
}

.n-1 {
  animation-delay: 0.5s;
}

.n-2 {
  animation-delay: 1s;
}

.n-3 {
  animation-delay: 1.5s;
}

.n-4 {
  animation-delay: 2s;
}

.n-5 {
  animation-delay: 2.5s;
}

.n-6 {
  animation-delay: 3s;
}

.n-7 {
  animation-delay: 3.5s;
}

.n-8 {
  animation-delay: 4s;
}

.n-9 {
  animation-delay: 4.5s;
}

.n-10 {
  animation-delay: 5s;
}
