// -----------------------------------------------------------------------------
// Ce fichier contient tous les styles liés au composant de bouton.
// -----------------------------------------------------------------------------


// Boutton Couleur Radient //
.btn-radient {
  @include fontRoboto500(1rem, $white);
  @include button-gradient;
  width: 218px;
  height: 50px;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.15);
  transition: transform 200ms linear;

  &:hover {
    @include button-gradient-hover;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.3);
    transform: scale(1.1);
  }
}


// Boutton de la section fonctionnement //
.btn-tuto {
  background: $background;
  width: 322px;
  height: 72px;

  position: relative;

  border-radius: 20px;
  border: none;

  box-shadow: $shadow-function-btn;

  @include desktop {
    width: 300px;
  }

  .badge-tuto {
    @include fontRoboto500(0.88rem, $background);
    background: $primary;

    height: 24px;
    width: 24px;

    @include flex-align-justify-center;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);

    border-radius: 50%;
  }

  .tuto-content {
    width: 100%;
    @include flex-start;

    padding-left: 33.5px;

    .icons-tuto {
      padding-right: 27px;
    }

    .text-tuto {
      @include fontRoboto500(1rem, $black);
    }
  }
}

// Boutton nouveau cards page home //
.btn-news {
  @include fontRoboto500(0.87rem, $green-font);
  @include flex-align-justify-center;
  background: $green;

  width: 80px;
  height: 29px;

  position: relative;
  top: -186px;
  left: 110px;

  border-radius: 2px;
  border: none;
  box-shadow: $shadow-header;

  @include desktop {
    left: 165px;
  }

  @include desktop-large {
    left: 194px;
  }
}

// Boutton Like (coeur) //
.btn-like {
  background: none;
  border: none;
  width: 22px;
  height: 21px;

  position: relative;
  top: -44px;
  left: 281px;
  cursor: pointer;

  @include desktop {
    top: -44px;
    left: 390px;
  }

  @include desktop-large {
    top: -44px;
    left: 430px;
  }

  svg {
    color: $black;
    fill-opacity: 0;
    stroke: $black;
    height: 30px;
    width: 30px;

    &:hover {
      animation: fill-svg 1s forwards;
    }
  }
}

@include heart-frame;

.btn-like-1 svg {
  fill: url(#gradient);
}

.btn-like-2 svg {
  fill: url(#gradient2);
}

.btn-like-3 svg {
  fill: url(#gradient3);
}

.btn-like-4 svg {
  fill: url(#gradient4);
}

// Boutton Like du menu des pages restaurants //
.btn-like-menu {
  background: none;
  border: none;
  width: 22px;
  height: 21px;
  cursor: pointer;

  svg {
    color: $black;
    fill: url(#gradient-like-menu);
    fill-opacity: 0;
    stroke: $black;
    height: 30px;
    width: 30px;

    &:hover {
      animation: fill-svg 1s forwards;
    }
  }
}
