.card {
  background: $white;
  @include flex-column-center;

  width: 340px;
  height: auto;
  border-radius: 15px;

  box-shadow: $shadow-card-restaurant;
  transition: box-shadow 0.5s ease;

  &:hover {
    box-shadow: $shadow-card-hover;
  }

  a {
    width: 100%;
    text-decoration: none;
  }

  .card-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    top: 50px;
    border-radius: 15px 15px 0 0;
  }

  .card-content {
    width: 100%;
    @include flex-space-between;

    border-radius: 0 0 15px 15px;
    margin-left: 13px;

    .card-title {
      @include fontRoboto700(1.12rem, $black);
      padding-bottom: 8px;
    }

    .card-subtitle {
      @include fontRoboto300(1.06rem, $black);
    }
  }
}
