// -----------------------------------------------------------------------------
// Ce fichier contient tous le scss des differentes Cards du site.
// -----------------------------------------------------------------------------

// Cards de la pahe Home //
.card {
  background: $white;
  @include flex-column-center;

  width: 340px;
  height: auto;
  border-radius: 15px;

  box-shadow: $shadow-card-restaurant;
  transition: box-shadow 0.5s ease;

  &:hover {
    box-shadow: $shadow-card-hover;
  }

  @include desktop {
    width: 450px;
    height: auto;
  }

  @include desktop-large {
    height: auto;
    width: 498px;
  }

  a {
    width: 100%;
    text-decoration: none;
  }

  .card-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    top: 50px;
    border-radius: 15px 15px 0 0;

    @include desktop {
      width: 450px;
    }

    @include desktop-large {
      width: 498px;
    }
  }

  .card-content {
    width: 100%;
    @include flex-space-between;

    border-radius: 0 0 15px 15px;
    margin-left: 13px;

    @include desktop-large {
      margin-left: 19px;
    }

    .card-title {
      @include fontRoboto700(1.12rem, $black);
      padding-bottom: 8px;
    }

    .card-subtitle {
      @include fontRoboto300(1.06rem, $black);
    }
  }
  &:nth-last-child(-n + 2) .btn-news {
    display: none;
  }

  &:nth-last-child(-n + 2) .card-title {
    padding-top: 29px;
  }
}

// Cards du menu des pages restaurants //
.cards-menu {
  @include flex-row;
  justify-content: space-between;
  overflow: hidden;
  background-color: $white;
  width: 94%;
  height: 69px;
  border-radius: 15px;
  position: relative;
  box-shadow: $shadow-function-btn;

  &:hover .check-menu {
    margin-right: 0px;
  }

  @include desktop-large {
    width: 60%;
  }

  &-content {
    @include flex-column;
    padding: 12px 16px 12px 15px;
    gap: 5px;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

    .cards-menu-title {
      @include fontRoboto500(1.125rem, $black);
      margin: 0;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      max-width: 85%;
    }
  }

  .cards-menu-texte {
    width: 100%;
    @include flex-space-between;

    p {
      @include fontRoboto300(0.94rem, $black);
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      max-width: 90%;
    }

    span {
      @include fontRoboto700(0.94rem, $black);
    }
  }

  //SCSS bouton check cards menu //
  .check-menu {
    @include flex-align-justify-center;
    width: 69px;
    height: 69px;
    background: $green;
    border-radius: 0px 15px 15px 0px;
    margin-right: -70px;
    cursor: pointer;
    transition: all 0.4s ease-out;

    & i {
      @include flex-align-justify-center;
      background-color: #ffffff;
      height: 20px;
      width: 20px;
      border-radius: 50%;
      color: $green;
      transition: transform 0.4s ease-out;
    }

    &:hover i {
      transform: rotate(360deg);
    }
  }
}
