// -----------------------------------------------------------------------------
// Ce fichier contient des styles très basiques.
// -----------------------------------------------------------------------------
body {
    width: 100%; 
}

a {
  text-decoration: none;
  color: inherit;
}
