// -----------------------------------------------------------------------------
// Ce fichier contient tous les Mxins liés aux disposition Flexbox.
// -----------------------------------------------------------------------------


@mixin flex-align-center {
  display: flex;
  align-items: center;
}

@mixin flex-align-justify-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin flex-row {
  display: flex;
  flex-direction: row;
}

@mixin flex-column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin flex-start {
  display: flex;
  align-items: flex-start;
}

@mixin flex-space-between {
  display: flex;
  justify-content: space-between;
}

@mixin flex-row-center {
  display: flex;
  flex-direction: row;
  align-items: center;
}

@mixin flex-row-reverse-end {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-end;
}
