// -----------------------------------------------------------------------------
// Ce fichier contient toutes les variables Sass.
// -----------------------------------------------------------------------------

// Couleurs

$background-footer: #353535;
$background: #F6F6F6;
$background-localisation: #EAEAEA;

$green: #99E2D0;
$green-font: #008766;
$blue: #89C8FA;
$blue-2: #003A68;
$primary: #9356DC;
$black: #101010;
$white: #fff;

$button-gradient: linear-gradient(175deg, #9356DC 0%, #FF79DA 100%);
$button-gradient-hover: linear-gradient(182deg, #9356DC 0%, #FF79DA 100%);
